<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="col-lg-4 col-12 d-flex justify-content-between">
            <a class="navbar-brand" href="#">
                <img src="images/Logo.png" alt="" width="35" height="35" class="d-inline-block align-text-top">
                Romland.Space
              </a>
            <button class="navbar-toggler d-inline d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse col-sm-4 justify-content-center" id="navbarContent">
            <ul class="navbar-nav justify-content-end flex-fill">
                <li class="nav-item my-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/linusromland">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </li>
            </ul>
        </div>
    </div>
</nav>