$colorBase: #34495E;
$headerButtonColor: #34495E; 
$headerButtonHoverColor: #525151;
$searchBackground: #1e9980;
$searchBoxTextColor: black;
$searchItemBackground: #2C3E50;
$searchNameTextColor: #000000;

$searchAreaWidth: 80%;
$searchItemWidth: 100%;

